{% extends "shop/base.html" %}
{% load static %}
{% load humanize %}
{% block title %}
  {% if category %}{{ category.name }}{% else %}Products{% endif %}
{% endblock %}
{% block content %}

<div class="row">

        <div class="col-lg-3">
            <ul class="list-inline text-center">
                <h3 class="my-4">Shop Categories
                </h3> 
            </ul>
                    
            <div class="list-group">
                <ul class="list-inline text-center">
                    <a href="{% url 'shop:product_list' %}" class="list-group-item">All</a>
                    {% for c in categories %}
                        <a href="{{ c.get_absolute_url }}" class="list-group-item">{{ c.name }}</a>
                    {% endfor %}
                </ul>
            </div>
            {% include "blog/footer.html" %}
        </div>
   

    <div class="col-lg-9">

        <div class="row">

            {% for product in products %}
                <div class="col-lg-4 col-md-6 mb-4 my-4">
                    <div class="card h-100">
                        <a href="{{ product.get_absolute_url }}">
                            <img class="card-img-top" 
                                    src="{% if product.image %}{{ product.image.url }}{% else %}http://placehold.it/700x400{% endif %}"                            
                                    alt="product image">
                        </a>
                        <div class="card-body">
                            <h6 class="card-title">
                                {% comment %} <a href="#">Item One</a> {% endcomment %}
                                <a href="{{ product.get_absolute_url }}">{{ product.name }}</a>                                    
                            </h6>
                            <h7>${{ product.price|intcomma }}</h7>
                            <!-- <p class="card-text">{{ product.description|truncatewords:10|linebreaks }}</p> -->
                        </div>
                        <div class="card-footer">
                            <!-- <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small> -->
                        </div>
                    </div>
                </div>
            {% endfor %}

        </div>
        <!-- /.row -->

    </div>
    <!-- /.col-lg-9 -->

</div>
<!-- /.row -->
{% endblock content %}
