{% load static %}
{% load blog_tags %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">


<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>About EatTravelDogs</title>

  <!-- Bootstrap core CSS -->
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

  <!-- Custom styles for this template -->
  <link href="{% static 'css/clean-blog.min.css' %}" rel="stylesheet">

</head>

<body>

  <!-- Navigation -->
  {% include "blog/navigation.html" %}

  <!-- Page Header -->
<header class="masthead" style="background-image: url('static/img/home.jpg')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>About</h1>
            <!-- <span class="subheading">A place for adventure...and learning how to live with 7 dogs!</span> -->
          </div>
        </div>
      </div>
    </div>
</header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>Hello! Our names are Zach and Sasha, welcome to the EatTravelDogs community.  We created the EatTravelDogs platform to share our experiences as we travel the world.  We enjoy adventure travel and will post regularly about where we have been and what trip we are planning for next.  We love to be open about where we have been and where we want to go.</p>
        <p>You can find everything on here from tips on how to travel on a budget to photography 101.  Chances are if you have a question, we have experienced it and messed it up already.  So, learn from our experiences, good and bad, and take your travel to the next level.</p>
        <p>Oh, and expect a fair number of stories about our dogs.  We have 7!  Yes 7, and its just as crazy as you can imagine.  They run our lives completely and in turn they let us take picture of them dressed up.  I’m not sure who comes out ahead.</p>
      <!-- </div>
    </div>
  </div> -->

  <!-- Footer -->
  {% include "blog/footer.html" %}

  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

  <!-- Custom scripts for this template -->
  <script src="{% static 'js/clean-blog.min.js' %}"></script>

</body>

</html>