{% extends "base.html" %}


{% block title %}Log-in{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-lg-8">
      <h1 class="my-5">Log-in</h1>
        <p>Please, use the following form to log-in:</p>
        <form method="post">
          {{ form.as_p }}
          {% csrf_token %}
          <p><input type="submit" value="Log in"></p>
          <!-- <form action="/account/register" method="post"></form>
            <input class="btn btn-primary" type="submit" value="Become A Member">
          </form> -->
        </form>
      <a href="/account/register" class="btn btn-primary">Become A Member &rarr;</a>
{% endblock %}

