{% extends "base.html" %}

{% block title %}Create an account{% endblock %}

{% block content %}
<div class="row">
  <div class="col-lg-6">
    <div class="card mb-4 my-5">
      <div class="card-body">
        <p class="card-header text-muted"
          <h1 class="my-2">Create an account</h1>
            <p>Please, sign up using the following form:</p>
            <form method="post">
              {{ user_form.as_p }}
              {% csrf_token %}
              <p><input type="submit" value="Create my account"></p>
            </form>
{% endblock %}
